$bars-size: 19vw;

.page-builder {
    height: calc(100vh - rem(90));

    [contenteditable="true"]{
        outline: none;

        &::before {
            pointer-events: none; /* Désactive les événements du pseudo-élément */
        }
    }

    & hr {
        border: 0;
        height: rem(3);
        background-color: $light1;
        margin: rem(26) 0;

        &.sm {
            height: rem(1.5);
            margin: rem(13) 0;
            justify-content: flex-start;
        }
    }

    & .subtitle {
        color: #a3aed0;
        font-size: rem(10);
        text-transform: uppercase;
        margin-bottom: rem(5);
    }

    &-header {
        z-index: 0;

        &-start {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 rem(20);

            & h1 {
                font-weight: 900;
                display: flex;
            }

            & .page-url {
                color: $grey;
                font-weight: 300;
                display: flex;
            }

            & input {
                display: inline-block;
                color: inherit;
                font-weight: inherit;
                font-family: inherit;
                font-size: inherit;
                width: fit-content;
                margin: 0;
                padding: 0;
                border: none;
            }
        }

        &-mid {
            display: flex;
            justify-content: space-between;
            padding: rem(30);

            & .header-mid {
                &-center {
                    display: flex;
                    align-items: center;

                    &>* {
                        padding: 0 rem(30);
                    }

                    & .editor-responsive {
                        list-style: none;
                        display: flex;
                        justify-content: space-evenly;
                        gap: rem(30);
                        font-size: rem(32);
                        border-right: rem(3) solid $grey-lighter;

                        & li {
                            color: $grey;
                            cursor: pointer;
                            transition: var(--transition-duration);

                            & label {
                                transition: var(--transition-duration);
                                cursor: pointer;
                            }

                            & input {
                                display: none;

                                &:checked ~ label {
                                    color: $text-black;
                                }
                            }
                        }
                    }

                    & .editor-size {
                        list-style: none;
                        display: flex;
                        font-weight: 600;
                        gap: rem(10);

                        & input, & select {
                            max-width: rem(40);
                            font-family: inherit;
                            font-size: inherit;
                            font-weight: inherit;
                        }
                        & input {
                            cursor: n-resize;
                        }
                        & select {
                            width: max-content;
                            -webkit-appearance: none;
                            border: 1px solid transparent;
                            outline: none;
                            cursor: pointer;
                        }

                        & span {
                            color: $grey;
                            text-transform: uppercase;
                            font-weight: 400;
                        }
                    }
                }

                &-end {
                    display: flex;
                    align-items: center;
                    font-size: rem(24);
                    gap: rem(30);
                    color: $grey;

                    & i {
                        cursor: pointer;
                        transition: var(--transition-duration) ease-in-out;
                        font-weight: 100;

                        &.active {
                            color: $text-black;
                        }
                    }
                }
            }
        }

        &-end {
            padding: rem(30) 0;

            & .header-end-list {
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                list-style: none;
                transition: var(--transition-duration);
                box-sizing: border-box;
                border-left: rem(3) solid $grey-lighter;

                & li {
                    cursor: pointer;
                    text-align: center;

                    &:hover i {
                        color: $text-black;
                    }

                    & i {
                        transition: var(--transition-duration);
                        font-size: rem(32);
                        color: $grey;
                    }
                    /*
                    & button {
                        font-weight: 400;
                        padding: rem(10) rem(30);
                    }
                     */
                }
            }
        }
    }

    &-main {

        & .editor-accordion,
        & .editor-accordion-settings {
            display: none;
        }

        .sidebar {
            background-color: var(--white);
        }

        & #componentsShutter {
            padding: rem(20);

            & .components-preview {
                display: flex;
                flex-wrap: wrap;
                gap: rem(10);

                & .components {
                    flex-basis: calc(50% - rem(10));

                    & label {
                        // text-transform: uppercase;
                        font-size: rem(13);
                        font-weight: 500;
                    }

                    &-view {
                        margin-top: rem(5);
                        background-color: $light1;
                        padding: rem(16);
                        border-radius: var(--main-radius);
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        & svg {
                            max-width: 100%;
                            aspect-ratio: 1/0.6;
                            height: fit-content;
                            fill: $white;

                            stroke: $tercery;

                            & path {
                                fill: $tercery;
                                stroke: $tercery;
                            }

                            & rect {
                                stroke: $tercery;
                            }
                        }
                    }
                }
            }
        }

        &-editor {
            padding: rem(80);
            display: flex;
            justify-content: center;

            & .components:not(.sortable-placeholder) {
                display: none;
            }

            .empty-element {
                display: block;
                padding: 20px 50px;
                border: 1px dashed grey;
            }
            .empty-element:has(> *:not(.sortable-placeholder):not(.action-popup)) {
                padding: 0;
            }

            & .editor-container {
                width: 100%;
                //min-height: 100vh; // TODO: Changer pour fit-content
                border-radius: var(--main-radius);
                overflow: hidden;
                height: max-content;
                transition: var(--transition-duration);

                &[editor-mode="pc"] {
                    width: 100%;
                }

                &[editor-mode="pad"] {
                    //width: 100%;
                    // height: rem(960);
                    width: rem(1280);
                    border-radius: var(--main-radius);
                }

                &[editor-mode="phone"] {
                    //width: 100%;
                    // height: rem(667);
                    width: rem(475);
                    border-radius: var(--main-radius);
                }

                & .editable,
                & .sortable-element {
                    position: relative;
                }

                & .sortable-element {
                }

                & .editable::before,
                & .sortable-element::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: '';
                    width: 100%;
                    height: 100%;
                }
                & .sortable-element[data-sortable="true"]::before {
                    border: rem(1) dashed $grey;
                }

                & .editable-text[contenteditable="true"]{
                    outline: none;
                }

                & .editable[data-sortable="true"]:not(.selected-item):hover::before,
                & .sortable-element[data-sortable="true"]:not(.selected-item):hover::before,
                & .editable[data-sortable="true"]:not(.selected-item):active::before,
                & .sortable-element[data-sortable="true"]:not(.selected-item):focus::before {
                    border: rem(2.2) solid var(--info);
                    box-sizing: border-box;
                    display: inline-block;
                }

                //& .sortable-placeholder {
                //    width: 100%;
                //    height: 0;
                //    padding: 0 !important;
                //    margin: 0 !important;
                //    position: relative;
                //    border: rem(2) solid var(--tercery);
                //    overflow: hidden;
                //}

                & .sortable-placeholder {
                    width: auto;
                    height: auto;
                    outline: rem(2) solid var(--tercery);
                    display: block;
                    z-index: 2;
                    padding: 0 !important;
                    margin: 0 !important;
                    position: relative;
                    overflow: hidden;
                    border-radius: 6px;

                    & * {
                        display: none;
                    }
                }

                & .selected-item {
                    border-radius: 0;
                    outline: rem(2) solid var(--tercery) !important;
                }

                & .editor-content {
                    display: flex;
                    flex-direction: column;
                    padding: rem(30);

                    & .main {
                        //padding-bottom: 50vh;
                        height: 100%;
                        min-height: 90vh;
                        //padding-bottom: 50vh;
                        border: rem(3) solid $light1;
                        border-radius: var(--main-radius);
                        //width: 100%;
                        //max-width: rem(1200);
                        background-color: var(--white);
                    }

                    /* Style pour l'élément popup */
                    & .action-popup {
                        position: absolute;
                        background-color: var(--tercery);
                        border: 0;
                        top: 0;
                        right: rem(-2.3);
                        padding: rem(5) rem(10);
                        transform: translate(0, -100%);
                        z-index: 100;

                        & ul {
                            display: flex;
                            list-style: none;
                            gap: rem(15);
                            color: var(--light);
                            font-size: rem(18);
                            height: 100%;
                            align-items: center;

                            & li {
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                & i {
                                    font-size: rem(18) !important;
                                    cursor: pointer;
                                    letter-spacing: 0 !important;
                                    line-height: rem(20) !important;
                                    color: var(--white);
                                }
                            }
                        }
                    }
                }
            }
        }

        & #editorShutter {
            padding: rem(20);

            & .draggable-input {
                cursor: n-resize;
            }

            & .input-color-container {
                position: relative;
                width: 40px;
                border-radius: 6px;
                overflow: hidden;
                height: 25px;
                margin-right: 10px;

                & input[type="color"]{
                    display: inline;
                    position: absolute;
                    top: -30%;
                    left: -30%;
                    height: 300%;
                    width: 300% !important;
                }
            }
            & input, select {
                font-family: var(--main-font1);
                font-weight: 500;
                color: var(--primary);

                &::-webkit-calendar-picker-indicator {
                    display: none;
                }
            }
        }
    }
}


.resizer-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

[resizer] {
    list-style: none;
    position: absolute;
    width: rem(10);
    height: rem(10);
    border: 2px solid var(--tercery);
    background-color: var(--white);
    transform: translate(-50%, -50%);
}

[resizer="top"] {
    top: 0;
    left: 50%;
    cursor: s-resize;
}

[resizer="right"] {
    top: 50%;
    left: 100%;
    cursor: e-resize;
}

[resizer="bottom"] {
    top: 100%;
    left: 50%;
    cursor: s-resize;
}

[resizer="left"] {
    top: 50%;
    left: 0;
    cursor: e-resize;
}

#icon-search-container {
    --spacing: 5px;
    --icons-per-row: 5;
    --icons-size: 22px;

    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing);

    & > * {
        width: calc((100%/var(--icons-per-row)) - var(--spacing));
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0;
        border-radius: 6px;
        background-color: #f3fbff;
        transition: 0.2s ease;
        z-index: 1;
        cursor: pointer;

        & i {
            color: #2f3b46;
            font-size: var(--icons-size);
        }

        &:hover {
            background-color: #e2eef5;
        }
        &:active {
            transform: scale(0.9);
            z-index: 10;
        }
    }
}