//$bars-size: 19vw;
$bars-size: rem(350);

@mixin scroll-bar($hide) {
  /* width */
  &::-webkit-scrollbar {
    @if $hide ==true {
      display: none;
    }
    width: rem(5);
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #{lighten($grey, 5%)};
    border-radius: var(--main-radius);
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $grey;
  }
}



.page-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  color: $text-black;
  //border: rem(3) solid $grey-lighter;

  &-header {
    height: rem(100);
    //border-bottom: rem(3) solid $grey-lighter;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2.5px 4.33px 30px 0px rgba($tercery,0.035);
    z-index: 1;

    &-left {
      position: relative;
      max-width: $bars-size;
      min-width: $bars-size;
      height: 100%;
    }
    &-center {
      position: relative;
      width: 100%;
      height: 100%;
    }
    &-right {
      position: relative;
      max-width: $bars-size;
      min-width: $bars-size;
      height: 100%;
    }
  }

  &-body {
    height: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    overflow-y: hidden;

    &-container {
      @include scroll-bar(false);

      width: 100%;
      position: relative;
      background-color: $light1;
      overflow-y: scroll;
      color: initial;
    }
  }
}



.sidebar {
  @include scroll-bar(true);

  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  max-width: $bars-size;
  //min-width: $bars-size;
  //border-left: rem(3) solid $grey-lighter;
  transition: var(--transition-duration) ease-in-out;
  width: 100%;

  &-toggler {
    position: absolute;
    width: rem(35);
    height: rem(35);
    background-color: $white;
    box-shadow: 0 0 rem(20) rgba($dark, .15);
    bottom: rem(20);
    border-radius: var(--main-radius);
    z-index: 10;
    cursor: pointer;
    transition: var(--transition-duration) ease-in-out;

    &-left {
      left: $bars-size;
      transform: translateX(-50%);
    }
    &-right {
      right: $bars-size;
      transform: translateX(50%);
    }

    & label {
      height: 100%;
      width: 100%;
      font-size: rem(18);
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: var(--transition-duration) ease-in-out;
      border-radius: var(--main-radius);

      & i {
        transition: var(--transition-duration) ease-in-out;
      }
    }

    &:hover {
      & label {
        background-color: $tercery;
        & i {
          color: $white;
        }
      }
    }

    & input {
      display: none;

      &:checked~label {
        background-color: $tercery;
        & i {
          transform: rotate(180deg);
          color: $white;
        }
      }
    }
  }
}

.back-office {

}