//$bars-size: 19vw;
$bars-size: rem(350);

@mixin scroll-bar($hide) {

  /* width */
  &::-webkit-scrollbar {
    @if $hide ==true {
      display: none;
    }

    width: rem(5);
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--grey);
    border-radius: var(--main-radius);
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: var(--grey-darker);
  }
}



.page-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  color: var(--primary);
  //border: rem(3) solid $grey-lighter;

  &-header {
    height: rem(100);
    //border-bottom: rem(3) solid $grey-lighter;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rem(2.5) rem(4.33) rem(30) rem(0) rgba(var(--tercery), 0.035);
    background-color: var(--white);
    z-index: 1;

    &-left {
      position: relative;
      max-width: $bars-size;
      min-width: $bars-size;
      height: 100%;
    }

    &-center {
      position: relative;
      width: 100%;
      height: 100%;
    }

    &-right {
      position: relative;
      max-width: $bars-size;
      min-width: $bars-size;
      height: 100%;
    }
  }

  &-body {
    height: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    overflow-y: hidden;

    &-container {
      @include scroll-bar(false);

      width: 100%;
      position: relative;
      background-color: $light1;
      overflow-y: scroll;
      color: initial;
    }
  }
}



.sidebar {
  @include scroll-bar(true);

  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  max-width: $bars-size;
  //min-width: $bars-size;
  //border-left: rem(3) solid $grey-lighter;
  transition: var(--transition-duration) ease-in-out;
  width: 100%;
  background-color: $light1;

  &-toggler {
    position: absolute;
    width: rem(35);
    height: rem(35);
    background-color: $white;
    box-shadow: 0 0 rem(20) rgba($dark, .15);
    bottom: rem(20);
    border-radius: var(--main-radius);
    z-index: 10;
    cursor: pointer;
    transition: var(--transition-duration) ease-in-out;

    &-left {
      left: $bars-size;
      transform: translateX(-50%);
    }

    &-right {
      right: $bars-size;
      transform: translateX(50%);
    }

    & label {
      height: 100%;
      width: 100%;
      font-size: rem(18);
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: var(--transition-duration) ease-in-out;
      border-radius: var(--main-radius);

      & i {
        transition: var(--transition-duration) ease-in-out;
      }
    }

    &:hover {
      & label {
        background-color: $tercery;

        & i {
          color: $white;
        }
      }
    }

    & input {
      display: none;

      &:checked~label {
        background-color: $tercery;

        & i {
          transform: rotate(180deg);
          color: $white;
        }
      }
    }
  }
}

.back-office {
  .nav-dashboard {

    &-left {
      display: flex;
      justify-content: center;
      align-items: center;

      h2 {
        text-transform: uppercase;
        font-weight: 900;
      }

      label {
        height: rem(35);
        width: rem(35);
        border-radius: 100%;
        margin-left: 1.5rem;
        background-color: #f8f5fd;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          color: var(--tercery);
        }
      }
    }

    &-right {
      display: flex;
      justify-content: right;
      align-items: center;

      i {
        font-size: rem(18);
        margin: 0 1.5rem;
      }

      .profil-user {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 3rem 0 1.5rem;

        img {
          max-height: rem(50);
          max-width: rem(50);
          border-radius: 50%;
        }
      }
    }
  }

  .wrappe-sidebar {
    display: flex;
    max-width: rem(90);
    overflow-x: hidden;

    .items-sidebar {
      max-width: rem(90);
      display: flex;
      flex-direction: column;
      background-color: var(--white);
      z-index: 1;

      a {
        color: inherit;
        text-decoration: none;
        font-family: inherit;
        font-size: inherit;
        font-style: inherit;
        font-weight: inherit;

        .item-sidebar {
          height: rem(90);
          width: rem(90);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border: rem(1) solid #f8f4fe;
          border-top: none;
          border-left: none;

          i {
            font-size: rem(25);
          }

          h2 {
            font-weight: 600;
            font-size: rem(13);
          }
        }

        .item-sidebar:hover {
          background-color: var(--white);
          color: black;
        }

        .active {
          background-color: var(--tercery);
          color: var(--white);
        }
      }
    }
    .list-liens-sidebar {
      width: 100%;
      display: flex;
      flex-direction: column;
      animation: bounceInLeft 1s ease;
      animation-fill-mode: forwards;
      border-right: rem(2) solid rgba(126,55,216,.15);
      background-color: var(--white);

      h3 {
        font-size: rem(18);
        color: var(--tercery);
        background-color: var(--light);
        padding: rem(20);
      }

      ul {
        list-style-type: none;

        li {
          height: rem(40);
          display: flex;
          align-items: center;
          font-size: rem(15);
          color: black;
          padding-left: rem(20);
          // padding-top: rem(20);
          font-weight: 500;
        }

        li:hover {
          background-color: var(--light);
          color: black;
        }

        .active {
          color: var(--tercery);
          font-weight: 600;
        }
      }
    }
  }

}

// Define the bounceInLeft animation
@keyframes bounceInLeft {
  0% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    opacity: 0;
    transform: translate3d(rem(-3000), 0, 0);
  }

  60% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    opacity: 1;
    transform: translate3d(rem(25), 0, 0);
  }

  75% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(rem(-10), 0, 0);
  }

  90% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(rem(5), 0, 0);
  }

  100% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: none;
  }
}