$primary-bg: var(--white);
$secondary-bg: var(--white);
$hover-bg: var(--grey-lighter);
$odd-row-bg: var(--grey-lighter);
$border-color: var(--grey-lighter);
$text-color: var(--primary);
$secondary-text-color: var(--secondary);

.page-wrapper-body-container {
  .header-users-dashboard {
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem 1rem 2rem;

    .header-users-dashboard-left {
      h1 {
        font-size: rem(30);

        span {
          color: var(--tercery);
        }
      }

      h2 {
        margin-top: rem(10);
        font-weight: 700;
        font-size: rem(15);
        color: var(--tercery);
        letter-spacing: rem(3);
      }
    }
    .header-users-dashboard-right {
      display: flex;
      align-items: center;
      color: var(--tercery);

      i {
        background-color: var(--primary);
        padding: rem(8);
        border-radius: 100%;
        font-weight: 500;
        margin-right: 0.5rem;
      }

      p {
        font-size: rem(14);

        span {
          font-weight: 600;
        }
      }
    }
  }
  section {
    padding: 2rem;
    .table-container {
      width: 100%;
      margin: 0 auto;
      box-shadow: rem(0) rem(0) rem(25) rem(0) rgba(126, 55, 216, 0.05);
      border-radius: var(--main-radius);
      background: $primary-bg;
      padding: 4rem 4.5rem;

      .title-table-container {
        padding-bottom: 2.5rem;
        border-bottom: rem(1) solid $border-color;
        h2 {
          text-transform: capitalize;
          font-weight: 700;
          line-height: 1;
          margin-bottom: 0.7rem;
          font-size: rem(18);
        }

        p {
          color: $secondary-text-color;
          font-size: rem(14);
          code {
            color: var(--tercery) !important;
            background-color: var(--white);
            padding: rem(3);
            margin: 0 rem(3);
            border-radius: var(--main-radius);
            font-size: 1em;
          }
        }
      }

      .table {
        width: 100%;
        border-collapse: collapse;
        font-size: rem(14);

        th,
        td {
          text-align: left;
          padding: rem(12);
          border-bottom: rem(1) solid $border-color;
        }


        th {
          background-color: $primary-bg;
        }

        tbody {
          color: var(--primary);
          .pending {
            background-color: var(--warning); /* Changez ce code couleur pour la nuance exacte de vert que vous voulez, par exemple #28a745 pour un vert 'succès' de Bootstrap */
            color: var(--white); /* Pour le texte blanc */
            padding: 0.25rem 0.5rem; /* Ajustez le remplissage au besoin */
            border-radius: var(--main-radius); /* Pour les coins arrondis */
            font-weight: 600; /* Si le texte doit être en gras */
            font-size: 0.875rem; /* Ajustez la taille de la police au besoin */
            display: inline-block; /* Pour s'assurer que le remplissage est appliqué correctement */
          }
          .verifed {
            background-color: var(--success); /* Changez ce code couleur pour la nuance exacte de vert que vous voulez, par exemple #28a745 pour un vert 'succès' de Bootstrap */
            color: var(--white); /* Pour le texte blanc */
            padding: 0.25rem 0.5rem; /* Ajustez le remplissage au besoin */
            border-radius: var(--main-radius); /* Pour les coins arrondis */
            font-weight: 600; /* Si le texte doit être en gras */
            font-size: 0.875rem; /* Ajustez la taille de la police au besoin */
            // display: inline-block; /* Pour s'assurer que le remplissage est appliqué correctement */
            width: fit-content;
          }
          .delete {
            background-color: var(--light);
            color: var(--danger);
            padding: rem(8);
            border-radius: 100%;
            font-weight: 500;
            margin-right: 0.5rem;
          }
          .edit {
            background-color: var(--light);
            color: var(--info);
            padding: rem(8);
            border-radius: 100%;
            font-weight: 500;
            margin-right: 0.5rem;
          }
          .bold {
            font-weight: bold;
          }

          tr:hover {
            background-color: $primary-bg;
            color: var(--secondary);
          }
        }
      }
    }
    .pagination {
      margin-top: 1rem;
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 1rem 0;

      .page-link {
        padding: 0.5rem 0.75rem;
        margin: 0 0.25rem;
        text-decoration: none;
        color: var(--tercery);
        border-radius: var(--main-radius);
        font-size: rem(14);
        background-color: var(--white);
        box-shadow: rem(0) rem(3) rem(6) rem(0) var(--secondary);

        &:hover {
          background-color: var(--white);
        }

        &.active {
          color: var(--white);
          background-color: var(--tercery);
          box-shadow: none;
        }
      }
    }
  }
}   