.page-wrapper-body-container {
    .main-dashboard {
        padding: 2rem;
        h1 {
            font-size: 30px;
            span {
                color: #7e37d8;
            }
        }
        h2 {
            margin-top: 10px;
            font-weight: 700;
            font-size: 15px;
            color: #7e37d8;
            letter-spacing: 3px;
        }
    }
}
