.page-settings-container {
    padding: 2rem;

    h1 {
        font-size: rem(30);
        color: var(--tercery);
        margin-bottom: 1rem;
    }

    .settings-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;

        .setting-input {
            label {
                display: block;
                font-size: rem(15);
                color: var(--tercery);
                margin-bottom: 0.5rem;
            }

            input {
                width: 100%;
                padding: rem(10);
                border: rem(1) solid var(--white);
                border-radius: rem(20);
                margin-bottom: 1rem;
            }
        }

        .save-button {
            grid-column: span 2;
            width: 100%;
            padding: rem(10);
            background-color: var(--tercery);
            color: var(--white);
            border: none;
            border-radius: rem(4);
            cursor: pointer;
            font-weight: 500;

            &:hover {
                background-color: var(--tercery);
            }
        }
    }
}
