.comments-section {
    width: 100%;
    margin: auto;
    margin-bottom: 2rem;

    h2 {
        font-size: rem(24);
        border-bottom: rem(1) solid #ccc;
        padding-bottom: rem(10);
    }

    .comment {
        display: flex;
        margin-top: rem(20);
        margin-bottom: 1rem;

        .comment-avatar {
            flex: 0 0 rem(50); // adjust width as needed

            img {
                width: 100%;
                border-radius: 50%;
            }
        }

        .comment-content {
            flex: 1;
            padding-left: rem(10); // space between avatar and text

            .comment-author {
                font-weight: bold;

                span {
                    font-weight: normal;
                }
            }

            p {
                margin: rem(5) 0;
            }

            .comment-info {
                font-size: rem(14);
                color: var(--grey);

                span {
                    margin-right: rem(10);
                }
            }
        }
    }

    .sub-comments {
        .comment {
            margin-bottom: 0;
            padding-left: rem(20); // indent sub-comments
            border-left: rem(2) solid var(--grey-lighter); // line to connect sub-comments with parent
        }
    }

    .new-comment {
        display: flex;
        align-items: center; // Align avatar and input group
        margin-top: rem(20);

        .new-comment-avatar {
            flex: 0 0 rem(50); // Ajustez la taille selon vos besoins

            img {
                width: 100%;
                border-radius: 50%;
            }
        }

        .new-comment-input-group {
            position: relative;
            flex-grow: 1;
            margin-left: rem(10);

            input {
                width: 100%;
                padding-right: rem(80); // Faites de la place pour le bouton
                padding: rem(10);
                border: rem(1) solid var(--grey-lighter);
                border-radius: rem(4);

                &:focus {
                    border-color: var(--info);
                    outline: none;
                }
            }

            button {
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                padding: 0 rem(15);
                border: none;
                border-radius: 0 rem(4) rem(4) 0; // Arrondit uniquement les coins droits
                background-color: var(--info);
                color: white;
                font-weight: bold;
                cursor: pointer;

                &:hover {
                    background-color: var(--info-darker);
                }
            }
        }
    }
}