// Couleurs
$white: #FFF;
$black: #000;
$grey: #6C7570;
$blue: #0D6EFD;
$red: #dc3545;

$dark: #1b254b;
$primary: #1c1c2b;
$secondary: #26263a;
$tercery: #7e37d8;
$light: #EFEFEF;
$lighter: #d6d6e6;
$warning: #FFC700;
$info: #39C0ED;
$danger: #F1416C;
$success: #50CD89;

$text-black: #1b254b;
$white: #fff;
$light1: #f8f5fd;

$grey: #a3aed0;
$grey-lighter: #eaebee;

// Variables CSS
:root {
    // Couleurs
    --white: #{$white};
    --black: #{$black};
    --grey: #{$grey};
    --blue: #{$blue};
    --red: #{$red};
    --blue-darker: #{darken($blue, 10%)};
    --grey-darker: #{darken($grey, 10%)};
    --grey-lighter: #{$grey-lighter};
    --red-darker: #{darken($red, 10%)};

    --dark: #{$dark};

    --primary: #{$primary};
    --primary-darker: color-mix(in srgb,var(--primary),#000 20%);

    --secondary: #{$secondary};
    --secondary-darker: color-mix(in srgb,var(--secondary),#000 20%);

    --tercery: #{$tercery};
    --tercery-darker: color-mix(in srgb,var(--tercery),#000 20%);

    --light: #{$light1};
    --light-darker: color-mix(in srgb,var(--light),#000 20%);

    --lighter: #{$lighter};
    --lighter-darker: color-mix(in srgb,var(--lighter),#000 20%);

    --warning: #{$warning};
    --info: #{$info};
    --danger: #{$danger};
    --success: #{$success};
    --warning-darker: color-mix(in srgb,var(--warning),#000 20%);
    --info-darker: color-mix(in srgb,var(--info),#000 20%);
    --danger-darker: color-mix(in srgb,var(--danger),#000 20%);
    --success-darker: color-mix(in srgb,var(--success),#000 20%);

    // Typos
    --main-font1: #{$font3};

    // Border radius
    --main-radius: #{rem(6)};

    // Transitions
    --transition-duration: 0.3s;
}
