<!--<div class="dropdown editable">-->
<!--    <div class="dropdown-toggler empty-elemente editable editable-text sortable-element">-->
<!--        <p class="editable editable-text">Dropdown</p>-->
<!--    </div>-->
<!--    <ul class="dropdown-menu sortable-element">-->
<!--        <li class="editable editable-text">Lien 1</li>-->
<!--        <li class="editable editable-text">Lien 2</li>-->
<!--    </ul>-->
<!--</div>-->



<div class="dropdown editable">
    <div class="dropdown-toggler empty-element sortable-element">
        <span class="editable editable-text">Dropdown</span>
<!--        <i class="fas fa-angle-down"></i>-->
    </div>
    <ul class="dropdown-menu sortable-element">
        <li class="editable">
            <div class="link-container editable editable-text empty-element sortable-element" href="">
                Lien 1
            </div>
        </li>
        <li class="editable">
            <div class="link-container editable editable-text empty-element sortable-element" href="">
                Lien 2
            </div>
        </li>
    </ul>
</div>