<footer class="footer editable sortable-element">
    <div class="footer__logo editable sortable-element">
        <div class="editable editable-text">Wisp's</div>
    </div>

    <div class="footer__links editable sortable-element">
        <div class="link-container editable editable-text" href="#">Accueil</div>
        <div class="link-container editable editable-text" href="#">Services</div>
        <div class="link-container editable editable-text" href="#">Contact</div>
        <div class="link-container editable editable-text" href="#">À propos</div>
        <div class="link-container editable editable-text" href="#">FAQ</div>
        <!-- Ajoutez autant de liens que nécessaire -->
    </div>

    <div class="footer__copy editable sortable-element">
        <p>&copy; <?php echo date("Y"); ?> <span class="editable editable-text">Wisp's. Tous droits réservés.</span></p>
    </div>
</footer>