<div class="navbar editable" nav-is-fixed="true" draggable="false" style="">
    <nav class="nav container"><a class="nav__logo" href="#" draggable="false">Wisp' Blog</a>
        <div class="nav__menu" data-modal="search">
            <ul class="nav__list sortable-element" data-sortable="true">
                <li class="nav__item editable" style=""><a class="nav__link" href="#" draggable="false">Accueil</a></li>
                <div class="dropdown editable" style="">
                    <div class="dropdown-toggler empty-element sortable-element" data-sortable="true">
                        <div class="editable editable-text" draggable="false" contenteditable="false">Dropdown</div>
                    </div>
                    <ul class="dropdown-menu sortable-element" data-sortable="true">
                        <li class="editable" draggable="false">
                            <div class="link-container editable editable-text empty-element sortable-element"
                                 href="https://amazon.fr" data-sortable="true" contenteditable="false"> Amazon</div>
                        </li>
                        <li class="editable" draggable="false" style="">
                            <div class="link-container editable editable-text empty-element sortable-element" href=""
                                 data-sortable="true"> Lien 2 </div>
                        </li>
                        <div class="dropdown editable" style="">
                            <div class="dropdown-toggler empty-element sortable-element" data-sortable="true"><span
                                    class="editable editable-text" style="">Dropdown</span></div>
                            <ul class="dropdown-menu sortable-element" data-sortable="true">
                                <li class="editable">
                                    <div class="link-container editable editable-text empty-element sortable-element"
                                         href="" data-sortable="true"> Lien 1 </div>
                                </li>
                                <li class="editable" style="">
                                    <div class="link-container editable editable-text empty-element sortable-element"
                                         href="" data-sortable="true"> Lien 2 </div>
                                </li>
                            </ul>
                        </div>
                    </ul>
                </div>
                <li class="nav__item editable" style="" draggable="false"><a class="nav__link" href="#"
                                                                             draggable="false">A&nbsp;propos</a></li>
                <li class="nav__item editable" style="" draggable="false"><a class="nav__link" href="#"
                                                                             draggable="false">Blog</a></li>
                <li class="nav__item editable" style="" draggable="false"><a class="nav__link" href="#"
                                                                             draggable="false">Contact</a></li>
                <div class="container editable sortable-element" data-sortable="true" style="display: flex; gap: 20px;">
                    <div class="link-container editable empty-element sortable-element" href="/" data-sortable="true"
                         style="" draggable="false">
                        <div class="icon-container editable" draggable="false"
                             style="font-size: 21px; font-weight: 100;"><i class="ri-search-line"></i></div>
                    </div>
                    <div class="dropdown editable" style="" draggable="false">
                        <div class="dropdown-toggler empty-element sortable-element" data-sortable="true">
                            <div class="icon-container editable" draggable="false"
                                 style="font-size: 21px; font-weight: 100;"><i class="ri-user-3-line"></i></div>
                        </div>
                        <ul class="dropdown-menu sortable-element" data-sortable="true">
                            <li class="editable" draggable="false">
                                <div class="link-container editable editable-text empty-element sortable-element"
                                     href="/login" data-sortable="true" contenteditable="false"> Login</div>
                            </li>
                            <li class="editable" draggable="false">
                                <div class="link-container editable editable-text empty-element sortable-element"
                                     href="/register" data-sortable="true" contenteditable="false"> Register</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </ul>
            <div class="nav__close" data-modal-toggle="nav-menu"><i class="ri-close-line"></i></div>
        </div>
    </nav>
    <div class="search" data-modal="search">
        <form class="search__form" action=""><i class="ri-search-line search__icon"></i><input class="search__input"
                                                                                               type="search" placeholder="Que recherchez vous ?"></form><i class="ri-close-line search__close"
                                                                                                                                                           data-modal-toggle="search"></i>
    </div>
    <div class="login" data-modal="login">
        <form class="login__form" action="">
            <h2 class="login__title">Connexion</h2>
            <div class="login__group">
                <div class="login__item"><label class="login__label" for="email">Email</label><input
                        class="login__input" type="email" placeholder="Entrez votre email" id="email"></div>
                <div class="login__item"><label class="login__label" for="password">Password</label><input
                        class="login__input" type="password" placeholder="Entrez votre mot de passe" id="password">
                </div>
            </div>
            <div class="login__register">
                <p class="login__signup"> Avez-vous un compte ? <a href="#" draggable="false">S'enregistrer</a></p><a
                    class="login__forgot" href="#" draggable="false">Mot de passe oublié</a><button
                    class="btn btn-primary btn-lg" type="button">Se connecter</button>
            </div>
        </form><i class="ri-close-line login__close" data-modal-toggle="login"></i>
    </div>
</div>