<div class="edit-form">
    <ul class="edit-form-inputs fluid">
        <li class="edit-form-toggler">
            <input id="align-horizontal-left" type="radio" name="align-horizontal" edit-class-toggle="align-horizontal-start" />
            <label for="align-horizontal-left">
                <i data-plugin="svg" data-svg-src="/assets/images/svg/flex-align/align-left-line.svg"></i>
            </label>
        </li>
        <li class="edit-form-toggler">
            <input id="align-horizontal-mid" type="radio" name="align-horizontal" edit-class-toggle="align-horizontal-center" />
            <label for="align-horizontal-mid">
                <i data-plugin="svg" data-svg-src="/assets/images/svg/flex-align/align-horizontal-center-line.svg"></i>
            </label>
        </li>
        <li class="edit-form-toggler">
            <input id="align-horizontal-right" type="radio" name="align-horizontal" edit-class-toggle="align-horizontal-end" />
            <label for="align-horizontal-right">
                <i data-plugin="svg" data-svg-src="/assets/images/svg/flex-align/align-right-line.svg"></i>
            </label>
        </li>
        <li class="edit-form-toggler">
            <input id="align-vertical-top" type="radio" name="align-vertical" edit-class-toggle="align-vertical-start" />
            <label for="align-vertical-top">
                <i data-plugin="svg" data-svg-src="/assets/images/svg/flex-align/align-top-line.svg"></i>
            </label>
        </li>
        <li class="edit-form-toggler">
            <input id="align-vertical-mid" type="radio" name="align-vertical" edit-class-toggle="align-vertical-center" />
            <label for="align-vertical-mid">
                <i data-plugin="svg" data-svg-src="/assets/images/svg/flex-align/align-vertical-center-line.svg"></i>
            </label>
        </li>
        <li class="edit-form-toggler">
            <input id="align-vertical-bot" type="radio" name="align-vertical" edit-class-toggle="align-vertical-end" />
            <label for="align-vertical-bot">
                <i data-plugin="svg" data-svg-src="/assets/images/svg/flex-align/align-bottom-line.svg"></i>
            </label>
        </li>
    </ul>
</div>
<hr>