.accordion {
    padding: rem(0) 0;

    & input {

        &[type="radio"],
        &[type="checkbox"] {
            display: none;
        }

        &:checked~label i {
            transform: rotate(180deg);
        }

        &:checked~.accordion-panel {
            margin-top: rem(18);
        }
    }

    & label.accordion-label {
        background-color: var(--white);
        color: var(--primary);
        font-weight: 800;
        cursor: pointer;
        width: 100%;
        font-size: rem(15);
        display: flex;
        justify-content: space-between;

        & {
            & span {
                font-size: rem(18);
            }

            & i {
                transition: transform var(--transition-duration) ease;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: rem(18);
            }
        }
    }

    & .accordion-panel {
        background-color: var(--white);
        max-height: 0;
        overflow: hidden;
        transition: all var(--transition-duration) ease-out;
        margin-top: 0;
    }
}