.pagination {
  margin-top: rem(30);
  z-index: 11;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;

  button {
    border: rem(1.5) solid var(--grey-lighter);
    border-right: none;
    background-color: var(--white);
    padding: rem(7) rem(10);
    cursor: pointer;

    &:hover {
      background-color: var(--grey-lighter);
    }

    &.active {
      background-color: var(--tercery);
      color: var(--white);
      cursor: unset;
    }

    &:disabled {
      background-color: var(--grey-lighter);
      cursor: unset;
    }
  }

  &-left {
    button:first-child {
      border-radius: rem(6) 0 0 rem(6);
    }
  }

  &-right {
    button:last-child {
      border-radius: 0 rem(6) rem(6) 0;
      border-right: rem(1) solid var(--grey);
    }
  }
}