*:has(>.tooltip) {
  position: relative;
  width: max-content;

  &:hover .tooltip {
    display: block;
    animation: dropdown-open .3s forwards;
  }
}

.tooltip {
  position: absolute;
  width: max-content;
  max-width: rem(500);
  background-color: var(--secondary);
  color: var(--white);
  text-align: center;
  padding: rem(5) rem(10);
  border-radius: rem(6);
  box-shadow: 0 0 rem(20) #00000020;
  font-size: rem(12);
  display: none;
  z-index: 10;
  animation: dropdown-close .3s forwards;

  &:hover {
    animation: dropdown-close .3s forwards;
  }
}

.tooltip-arrow::after {
  content: " ";
  position: absolute;
}

.tooltip-right {
  top: 50%;
  left: 105%;
  transform: translateY(-50%);

  &.tooltip-arrow::after {
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: rem(-5);
    border-width: rem(5);
    border-style: solid;
    border-color: transparent var(--secondary) transparent transparent;
  }
}
.tooltip-left {
  top: 50%;
  right: 105%;
  transform: translateY(-50%);

  &.tooltip-arrow::after {
    top: 50%;
    left: 100%; /* To the right of the tooltip */
    margin-top: rem(-5);
    border-width: rem(5);
    border-style: solid;
    border-color: transparent transparent transparent var(--secondary);
  }
}
.tooltip-top {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);

  &.tooltip-arrow::after {
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: rem(-5);
    border-width: rem(5);
    border-style: solid;
    border-color: var(--secondary) transparent transparent transparent;
  }
}
.tooltip-bottom {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);

  &.tooltip-arrow::after {
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: rem(-5);
    border-width: rem(5);
    border-style: solid;
    border-color: transparent transparent var(--secondary) transparent;
  }
}

.text-transform-capitalize {
  text-transform: capitalize;
}